// Common
$bgColor: #222121;
$black: #000;
$white: #f2f2f2;
$textColor: #f2f2f2;
$textBgHover: #6e6b6b;
$selectbgColor: #333;

// Theme
$cyberColor: #49D9D9;
$mainColor: #BA68C8;


.editor {
    width: auto;
    font-family: 'MPLUSRegular', sans-serif;
    overflow: hidden;
    .mainContents {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin: 0;
        height: calc(100vh - 45px);
        .hierarchy {
            flex: 1;
            height: calc(100% - 2px);
            padding-top: 2px;
            background-color: $bgColor;
            max-width: 200px;
            position: relative;
            .createObj {
                border-top: 2px $black solid;
                position: absolute;
                bottom: 0;
                width: 100%;
                .title {
                    color: $textColor;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    padding: 5px 10px;
                    border-radius: 4px;
                    user-select: none;
                    cursor: pointer;
                    .icon {
                        padding-right: 6px;
                        font-size: 18px;
                        vertical-align: middle;
                        transition: background-color 1s ease;
                    }
                    &:hover{
                        background-color: $textBgHover;
                    }
                }
            }
        }
        .contents {
            flex: 2;
            height: 100%;
            background-color: $black;
            display: block;
            // flex-direction: column;
            .viewselect {
                margin: 0;
                height: 25px;
                padding: 0;
                color: $textColor;
                background-color: $selectbgColor;
                user-select: none;
                .select {
                    display: inline-block;
                    a {
                        padding: 0 10px;
                        font-size: 10px;
                        border-right: 2px solid $black;
                        cursor: pointer;
                    }
                }
            }
            .viewport {
                margin: 0;
                padding: 0;
                height: calc(100% - 25px);
                background-color: $white;
            }
            
        }
        .inspector {
            display: block;
            position: fixed;
            top: 80px;
            right: 10px;
            padding: 10px;
            width: 200px;
            max-height: calc(100vh - 150px);
            border-radius: 5px;
            background-color: rgba($color: $cyberColor, $alpha: 0.6);
            color: $white;
            text-align: left;
        }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}