.mainView {
  height: 100%;
  position: relative;
  background: #e2e2e2;

  .uiCanvas{
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    
    .uicanvashelper {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: -1;
      transform: translate(-50%, -50%);
  
      .name {
        font-size: 50px;
        color: $textColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  
      .gridContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: 100%;
  
        .row {
          display: flex;
          flex-wrap: nowrap;
          width: 100%;
  
          .grid {
            box-sizing: border-box;
            height: 100%;
            position: relative;
            border: dashed .5px rgba($color: $textColor, $alpha: .5);
            z-index: 1;
  
            >div {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
  
            }
          }
        }
      }
    }
  }

  .control {
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 10px;
  }
  
  .helperBtn{
    color: #fff;
    cursor: pointer;
    padding: 4px 6px;
    margin-right: 5px;
    background: #222;
    border-radius: 3px;
    position: relative;
    .tooltipContent {
      display: block;
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      background-color: $bgColor;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      padding: 12px;
      min-width: 200px;
      .checkboxes,
      .numberInputs {
        margin-bottom: 8px;
      }

      label {
        display: block;
        margin-bottom: 4px;
        font-size: 12px;
        input[type="text"] {
          width: 60px;
          max-width: 60px;
        }
        input[type="number"] {
          width: 60px;
          max-width: 60px;
        }
      }

      .numberInputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4px;
        
      }
    }
  }

  .config{
    color: #fff;
    cursor: pointer;
    padding: 4px 6px;
    margin-right: 5px;
    background: #222;
    border-radius: 3px;
    position: relative;
    .tooltipContent {
      display: block;
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      background-color: $bgColor;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      padding: 20px;
      min-width: 200px;
      .checkboxes,
      .numberInputs {
        margin-bottom: 8px;
      }

      label {
        display: block;
        margin-bottom: 4px;
        font-size: 12px;
        padding: 4px 6px;
        .name{
          padding-right: 8px;
        }
        input[type="text"] {
          width: 60px;
          max-width: 60px;
        }
        input[type="number"] {
          width: 60px;
          max-width: 60px;
        }
      }

      .numberInputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4px;
      }

      .select {
        padding-bottom: 16px;
        .title {
          font-size: 12px;
          margin-bottom: 4px;
        }
        select {
          width: 100%;
          padding: 4px;
          border: 1px solid #ccc;
          border-radius: 3px;
          background: #fff;
          option {
            padding: 4px;
          }
        }
      }
    }
  }

  .cameraSpeed {
    color: #fff;
    cursor: pointer;
    padding: 4px 6px;
    margin-right: 5px;
    background: #222;
    border-radius: 3px;
    position: relative;
    user-select: none;
    span {
      font-size: 14px;
      vertical-align: top;
    }
  }

  .showCanvas{
    color: #fff;
    cursor: pointer;
    padding: 4px 6px;
    margin-right: 5px;
    background: #222;
    border-radius: 3px;
  }

  .showUI {
    color: #fff;
    cursor: pointer;
    padding: 4px 6px;
    margin-right: 5px;
    background: #222;
    border-radius: 3px;
  }

  .gridNum {
    font-size: 16px;
    margin-left: 2px;
    color: #fff;
    cursor: pointer;
    padding: 4px 10px;
    margin-right: 5px;
    background: #222;
    border-radius: 3px;
  }

}