.scriptEditor {
    height: 100%;
    background-color: #222121;
    .navigation {
        font-size: 12px;
        line-height: 30px;
        
        div {
            display: inline-block;
            cursor: pointer;
        }
        .filename {
            color: #fff;
            font-weight: bold;
            padding-left: 20px;
        }
        .save {
            background-color: #43D9D9;
            padding: 0 10px;
            font-weight: bold;
            float: right;
            user-select: none;
        }
        .preview {
            background-color: #494949;
            padding: 0 10px;
            float: right;
            color: #fff;
            user-select: none;
        }
        .reload {
            background-color: $mainColor;
            padding: 0 10px;
            float: right;
            color: #fff;
            user-select: none;
        }
        .pause {
            background-color: #494949;
            padding: 0 10px;
            float: right;
            color: #fff;
            user-select: none;
        }
    }
    .editor {
        height: calc(100% - 30px);
        width: "100%";
        background: "#838383";
    }
}