.selectNewObjectDialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9000001;
    .dialog {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        min-width: 300px;
        max-width: 80vw;
        min-height: 200px;
        .title {
            padding: 5px;
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            max-height: 70vh;
            .card {
                margin: 5px;
                border: solid 2px #cecece;
                border-radius: 6px;
                padding: 10px;
                width: 100px;
                display: inline-block;
                cursor: pointer;
                flex: 1 1 calc(33.333% - 10px);
                .icon {
                    text-align: center;
                    .img {
                        width: 60px;
                        height: 60px;
                        margin: auto;
                    }
                }
                .objicon {
                    font-size: 48px;
                    text-align: center;
                    margin: auto;
                }
                .name {
                    text-align: center;
                    color: #686868;
                    font-weight: bold;
                }
                &:hover {
                    background-color: #cecece;
                }
            }
            .dropCard {
                margin: 5px;
                border: solid 2px #cecece;
                border-radius: 6px;
                padding: 10px;
                width: 300px;
                display: inline-block;
                cursor: pointer;
                .icon {
                    text-align: center;
                    .img {
                        width: 60px;
                        height: 60px;
                        margin: auto;
                    }
                }
                .name {
                    text-align: center;
                    color: #686868;
                    font-weight: bold;
                }
                &:hover {
                    background-color: #cecece;
                }
            }
        }
    }
}