.lodViewDialog{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9000001;
    .dialog {
        background-color: #ffffff;
        padding: 14px;
        border-radius: 5px;
        width: 80vw;
        height: 70vh;
        .title {
            font-size: 20px;
            font-weight: bold;
            padding: 8px;
            text-align: center;
        }
        .view {
            width: 90%;
            height: 90%;
            text-align: center;
            margin: auto;
            border-radius: 5px;
            canvas {
                border-radius: 5px;
            }
        }
    }
}