.appBar {
    width: 100%;
    height: 45px;
    display: flex;
    position: relative;
    background-color: $bgColor;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    .nav {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        text-align: center;
        width: 100%;
        height: 100%;
        position: relative;
        .navItem{
            display: inline-block;
            float: none;
            padding: 10px 3px;
            a {
                user-select: none;
                padding: 5px 10px;
                border-radius: 2px;
                color: #fff;
                text-decoration: none;
                height: 100%;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: #43D9D9;
                    background-color: #797272;
                    cursor: pointer;
                }
            }
            .play {
                background-color: #cac0c0;
                color: #000000;
                .icon {
                    padding-right: 5px;
                    svg {
                        vertical-align: middle;
                    }
                }
                &:hover {
                    color: #43D9D9;
                    background-color: #201f1f;
                    cursor: pointer;
                }
            }
            .save {
                background-color: #43D9D9;
                color: #000000;
                .icon {
                    padding-right: 5px;
                    svg {
                        vertical-align: middle;
                    }
                }
                &:hover {
                    color: #ffffff;
                    background-color: #096775;
                    cursor: pointer;
                }
            }
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }
        .navCenter {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .item {
                font-size: 16px;
                padding: 5px 10px;
                border-radius: 3px;
                color: #fff;
                text-decoration: none;
                height: 100%;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                user-select: none;
                font-family: 'MPLUSLighter', sans-serif;

            }
        }
    }

    .filemenu {
        top: 45px;
        left: 0;
        position: absolute;
        background-color: $black;
        color: $textColor;
        width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.514);
        z-index: 1;
        ul {
            font-size: 10px;
            font-weight: bold;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                position: relative;
                a {
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    border-radius: 3px;
                    cursor: pointer;
                }
                &:hover {
                    background-color: $selectbgColor;
                }
            }
            .subMenu {
                position: absolute;
                top: 0;
                left: 160px;
                min-width: 160px;
                background-color: $black;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                white-space: nowrap; /* テキストを折り返さないようにする */
                overflow: hidden; /* 要素からはみ出た部分を非表示にする */
                li {
                    display: flex;
                    a {
                        display: inline-block;
                        padding: 10px;
                        text-decoration: none;
                        display: block;
                        cursor: pointer;
                        &:hover {
                            background-color: $selectbgColor;
                        }
                    }
                }
            }
        }
    }
}