
.main {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
// フォントをすべてMPlusRegularにする
@font-face {
    font-family: "MPLUSRegular";
    src: url("/fonts/MPLUS1-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MPLUSLighter";
    src: url("/fonts/MPLUS1-Light.ttf") format("truetype");
}

@import "./components/NinjaEditor/NinjaEditor";
@import "./components/NinjaEditor/ViewPort/ScriptEditor";
@import "./components/NinjaEditor/Inspector/TerrainInspector";
@import "./components/NinjaEditor/Inspector/PlayerInspector";
@import "./components/NinjaEditor/Inspector/MainViewInspector";
@import "./components/NinjaEditor/Hierarchy/ContentViewer";
@import "./components/NinjaEditor/Hierarchy/Hierarchy";
@import "./components/NinjaEditor/Hierarchy/UINavigation";
@import "./components/NinjaEditor/Common/AppBar";
@import "./components/NinjaEditor/Dialogs/SelectNewObjectDialog";
@import "./components/NinjaEditor/Dialogs/LoDViewDialog";