
.main {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
// フォントをすべてMPlusRegularにする
@font-face {
    font-family: "MPLUSRegular";
    src: url("/fonts/MPLUS1-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MPLUSLighter";
    src: url("/fonts/MPLUS1-Light.ttf") format("truetype");
}

@import "./editor/NinjaEditor";
@import "./editor/ViewPort/ScriptEditor";
@import "./editor/ViewPort/ShaderEditor";
@import "./editor/Inspector/TerrainInspector";
@import "./editor/Inspector/PlayerInspector";
@import "./editor/Inspector/MainViewInspector";
@import "./editor/Hierarchy/ContentViewer";
@import "./editor/Hierarchy/Hierarchy";
@import "./editor/Hierarchy/SubNavigation";
@import "./editor/ViewPort/MainViewer";
@import "./editor/ViewPort/MainViewUIs/UIItem";
@import "./editor/Common/AppBar";
@import "./editor/Dialogs/SelectNewObjectDialog";
@import "./editor/Dialogs/LoDViewDialog";
@import "./editor/Dialogs/AssetsContextMenu";